#services, #news, #references
{
	margin-left:20px;
	margin-right:20px;
	min-height:200px;

	h2
	{
		margin:40px 0;
		font-size:2em;
		color:$myblue;
	}
}


#services{
	#service-content
	{
		display:grid;
		grid-template-columns:repeat(auto-fit, minmax(240px, 1fr));
		grid-gap:20px 20px;

		#design, #strategy, #consulting
		{
			background:#EEEEEE;
			border-radius:10px;
			padding:1em;

			h3
			{
				color:$myblue;
				text-align:center;
				font-size:1.5em;
			}
			
			img
			{
				margin:1em auto 0 auto;
				max-width:70%;
				display:block;
			}
		}
	}
}

#news
{
	p{
		font-size:0.8em;
		line-height: 1.2em;
	}
	h3{
		font-size:1em;
		font-weight:bold;
		color:$myblue;
		margin-bottom:0.5em;
	}
	#news-content{
		background:#EEEEEE;
		min-height: 200px; 
		border-radius:10px;
		padding:2em;
		display:grid;
		grid-gap:20px 20px;
		grid-template-columns:repeat(auto-fit, minmax(240px, 1fr));
	}
}

#references
{
	#references-content
	{
		padding:0 1em;
		display:grid;
		grid-gap:20px 20px;
		grid-template-columns:repeat(auto-fit, minmax(240px, 1fr));
		align-items:center;
		margin-top:1em;
		margin-bottom:1em;

		p{
			font-style:italic;
			line-height: 1.2em;
		}

		.quote{
			font-size:0.8em;
			text-align:right;
			padding-top:0.4em;

		}

		div{
			display:grid;
			align-items:center;
			padding:20px;
			img
			{
				width:60%;
				margin:0.5em auto 1em auto;
			}
		}
		
	}
}

@media only screen and (max-width:500px) {

body #site-content h2{
		font-size: 1em;
	}
	body #site-content h3{
		font-size: 0.6em;
	}
	body #site-content p {
		font-size: 0.3em;
	}
	#references #references-content .quote{
		font-size: 0.3em;
	}

	#references #references-content div img {
		width:25%;
	}

	#references #references-content div{
		max-width:100px;
	}

}