/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:after, *:before {
  box-sizing: border-box; }

html, body, button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.hidden {
  display: none !important;
  visibility: hidden; }

html {
  font-family: 'Slabo 13px', sans-serif;
  color: #333;
  font-size: 25px; }

*, *:after, *:before {
  box-sizing: border-box; }

.max-width-container {
  width: 100%;
  padding: 0 1em; }

.container {
  width: 100%;
  max-width: 80em;
  margin: 0 auto;
  position: relative; }

.grid:after {
  content: '';
  display: table;
  clear: both; }

[class*='col-'] {
  float: left;
  padding-right: 1em; }
  .grid [class*='col-']:last-of-type {
    padding-right: 0; }

.header {
  background-color: #fff;
  position: absolute;
  width: 100%;
  z-index: 3;
  height: 2.5em;
  top: 15px;
  /* menu */
  /* menu icon */
  /* menu btn */
  /* 48em = 768px */ }
  .header ul {
    list-style: none;
    overflow: hidden;
    background-color: #fff; }
  .header li a {
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    color: gray; }
  .header li a:hover {
    text-decoration: underline;
    color: #159CE8; }
  .header .logo {
    display: block;
    float: left;
    font-size: 2.2em;
    color: #159CE8;
    text-decoration: none;
    padding-left: 15px; }
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out; }
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none; }
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 5px;
    position: relative;
    transition: background .2s ease-out;
    width: 40px; }
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 5px;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%; }
  .header .menu-icon .navicon:before {
    top: 12px; }
  .header .menu-icon .navicon:after {
    top: -12px; }
  .header .menu-btn {
    display: none; }
  .header .menu-btn:checked ~ .menu {
    max-height: 240px; }
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent; }
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg); }
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg); }
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0; }
  @media (min-width: 70em) {
    .header li {
      float: left; }
    .header li a {
      padding: 20px 20px; }
    .header .menu {
      clear: none;
      float: right;
      max-height: none; }
    .header .menu-icon {
      display: none; } }

#hero {
  background: url("../images/front.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 21em;
  display: grid;
  justify-items: end;
  margin-top: 2.5em; }
  #hero #inner-hero {
    overflow: hidden;
    align-self: center; }
    #hero #inner-hero button {
      display: block;
      font-size: 1.5em;
      font-family: 'Slabo 13px', sans-serif;
      background: #159CE8;
      border: none;
      color: #FFF;
      padding: 0.3em;
      margin-top: 0.3em;
      border-radius: 10px;
      margin-left: 30px; }
  #hero .slogan {
    margin-left: 30px;
    color: #159CE8;
    font-size: 2em;
    background: #FFF;
    padding-left: 0.2em;
    padding-right: 0.2em;
    line-height: 1.3em;
    display: inline; }
  @media only screen and (min-width: 1024px) {
    #hero #inner-hero {
      width: 50%; }
      #hero #inner-hero .slogan {
        font-size: 2.5em; } }

#services, #news, #references {
  margin-left: 20px;
  margin-right: 20px;
  min-height: 200px; }
  #services h2, #news h2, #references h2 {
    margin: 40px 0;
    font-size: 2em;
    color: #159CE8; }

#services #service-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 20px 20px; }
  #services #service-content #design, #services #service-content #strategy, #services #service-content #consulting {
    background: #EEEEEE;
    border-radius: 10px;
    padding: 1em; }
    #services #service-content #design h3, #services #service-content #strategy h3, #services #service-content #consulting h3 {
      color: #159CE8;
      text-align: center;
      font-size: 1.5em; }
    #services #service-content #design img, #services #service-content #strategy img, #services #service-content #consulting img {
      margin: 1em auto 0 auto;
      max-width: 70%;
      display: block; }

#news p {
  font-size: 0.8em;
  line-height: 1.2em; }

#news h3 {
  font-size: 1em;
  font-weight: bold;
  color: #159CE8;
  margin-bottom: 0.5em; }

#news #news-content {
  background: #EEEEEE;
  min-height: 200px;
  border-radius: 10px;
  padding: 2em;
  display: grid;
  grid-gap: 20px 20px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); }

#references #references-content {
  padding: 0 1em;
  display: grid;
  grid-gap: 20px 20px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em; }
  #references #references-content p {
    font-style: italic;
    line-height: 1.2em; }
  #references #references-content .quote {
    font-size: 0.8em;
    text-align: right;
    padding-top: 0.4em; }
  #references #references-content div {
    display: grid;
    align-items: center;
    padding: 20px; }
    #references #references-content div img {
      width: 60%;
      margin: 0.5em auto 1em auto; }

@media only screen and (max-width: 500px) {
  body #site-content h2 {
    font-size: 1em; }
  body #site-content h3 {
    font-size: 0.6em; }
  body #site-content p {
    font-size: 0.3em; }
  #references #references-content .quote {
    font-size: 0.3em; }
  #references #references-content div img {
    width: 25%; }
  #references #references-content div {
    max-width: 100px; } }

footer {
  background: #159CE8;
  min-height: 200px;
  color: #FFF;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px; }

#about {
  width: 100%;
  margin-top: 150px;
  padding: 60px;
  display: grid;
  align-items: center; }
  #about img {
    width: 30%;
    margin: auto; }
  #about h1 {
    text-align: center;
    font-size: 47px;
    color: #159CE8; }
  #about p {
    text-align: center; }
  #about #cntnd {
    padding: 20px 60px; }
